* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

/* 
    Header
*/

.header {
    min-height: 44px;
    padding: 20px;
    text-align: center;
    background-color: rgb(230, 230, 230);
}

#the-day {
    color: green;
    font-weight: 550;
}

/* 
    Days
*/

.days {
    display: flex;
    justify-content: center;
    gap: 2%;
    min-height: 44px;
    padding: 10px;
    color: white;
    background-color: rgb(166, 166, 166);
}

.day, .day-now {
    padding: 15px 35px;
}

.day {
    background-color: blue;
}

.now {
    background-color: green;
}

.clicked {
    border: 1px solid white;
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
}

/* 
    Footer
*/

.footer {
    min-height: 44px;
    padding: 20px;
    text-align: center;
    background-color: rgb(230, 230, 230);
}

#selected-day {
    color: blue;
    font-weight: 550;
}